# Node modules
**/node_modules/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# Logs and system files
*.log
.DS_Store
Thumbs.db

# IDE folders
.vscode/

# Build folder
/build

# Don't ignore .pkl!
# (Make sure this line is NOT here: *.pkl)
