 # Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Build output directories
client/build/
server/build/

# .env file containing sensitive data (MongoDB URI, API keys, etc.)
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor-specific files
.vscode/
.idea/

# MacOS system files
.DS_Store

